{%extends "base.html"%} {%block title%}Login{%endblock%}
{%block content%}
<h1>This is a Login Page</h1> 
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="enter email here" class="form-control">
    </div>
   
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="enter password here" class="form-control">
    </div>

    <br>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{%endblock%}